{% extends "website/base.html" %}
{% load static %}
{% block title %}Contact{% endblock title %}


{% block main-content %}
<div class="conta mt-3">
    <br>
    <h2 class="text-center">Contact us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Address : 45,Church Gate, Mumbai.</p>
        <p class="fs-4 text-center">Contact : 9874521525 </p>
        <p class="fs-4 text-center">Email   :  Srikanth@gmail.com </p>
    </div>
</div>
<br><br>
{% endblock main-content%}