{% extends 'website/base.html' %}
{% load static %}

{% block title %}Password Changed Successfully{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class="row">
        <h3>Welcome {{ request.user.username|capfirst }}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled"> 
                <li class="d-grid">
                    <a href="{% url 'passwordchange' %}" class="btn btn-danger">Change Password</a>
                </li><br>
                <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3 class="my-3">🎉 Congratulations! 🎉</h3>
            <div>
                <iframe src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2RsMXFzaGp2bGgyaGR5ZXVoOXhhZWwxdHVoNXg5enMwNDA5cGswMCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/D0jidt0aW8DD2YZkAB/giphy.gif" width="1200" height="450" class="giphy-embed"></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
