{% extends 'website/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 offset-sm-3 text-center">
            <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Well Done!</h3>
                <p>An email has been sent with instructions to reset your password. <br><b>Please check your email.</b></p>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
